@import '../base/settings';
@import '../base/mixins';

.dashboard-element {
  @include shadow(2px, 2px, 2px, 2px, darken($athlete-background, 5%));
  @include display-flex(center, column);
  justify-content:center;
  border-radius: 5px;
  background: $athlete-background;
  padding: 10px;
  border: 1px solid darken(white, 3%);
}


.dashboard-element__info {
  font-weight: 700;
  color: darken(#4b4b4b, 10%);
  margin-bottom: 20px;
}

.dashboard-element__text {
  margin:0;
  text-align:center;
  font-size: 2vw;
  font-weight: 200;
  color: #898422;
}

.name {
  grid-area: name;
}
.bike {
  grid-area:bike;
}
.shoes {
  grid-area:shoes
}
.weight{
  grid-area:weight;
  input{
    width: 80%;
    height: 40px;
  }
}

@media (max-width: 650px) {
  .dashboard-element__text {font-size: 3vw;}
}

@media (max-width: 300px) {
  .dashboard-element__text {font-size: 3.5vw;}
}