@import "./mixins";

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  overflow-x: hidden;
}

// prevents accidental overflow
img, embed, video, object {
  max-width: 100%;
}


/**
*These two classes are for router transitions
 */
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}




